{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>SignUp</title>
          <link rel="icon" href="{% static 'images/favicon.png' %}">
          <link rel="stylesheet" href="{% static 'css/register.css'%}">
</head>

<body>
          <div class="container1">
                    <div class="drop">
                              <div class="content">
                                        <h2>Sign Up</h2>
                                        <form method="POST">
                                                  {% csrf_token %}
                                                  <div class="container">
                                                            <div class="inputBox">
                                                                      <label for="firstname"></label>
                                                                      <input type="text" placeholder="First name"
                                                                                name="first_name" id="email" required>
                                                            </div>
                                                            <div class="inputBox">
                                                                      <label for="lastname"></label>
                                                                      <input type="text" placeholder="Last name"
                                                                                name="last_name" id="email" required>
                                                            </div>
                                                            <div class="inputBox">
                                                                <label for="email"></label>
                                                                <input type="email"
                                                                          placeholder="Email"
                                                                          name="email" id="email" required>
                                                            </div>
                                                            <div class="inputBox">
                                                                      <label for="username"></label>
                                                                      <input type="text" placeholder="Username"
                                                                                id="email" name="username" required>
                                                            </div>

                                                            <div class="inputBox">
                                                                      <label for="psw"></label>
                                                                      <input type="password" placeholder="Password"
                                                                                name="password1" id="psw" required>
                                                            </div>
                                                            <div class="inputBox">
                                                                      <label for="psw-repeat"></label>
                                                                      <input type="password"
                                                                                placeholder="Confirm Password"
                                                                                name="password2" id="psw-repeat"
                                                                                required>
                                                            </div>
                                                            <div class="inputBox">
                                                                      <input type="submit" class="registerbtn"
                                                                                value="Register">
                                                            </div>
                                                  </div>
                                        </form>
                              </div>
                    </div>

                    <!-- <a href="#" class="btns">Forgot Password</a> -->
                    <a href="{% url 'login' %}" class="btns signup">Login</a>
          </div>
</body>

</html>