{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Login</title>
          <link rel="icon" href="{% static 'images/favicon.png' %}">
          <link rel="stylesheet" href="{% static 'css/login.css'%}">
</head>
<body>
          <div class="container1">
                    <div class="drop">
                              <div class="content">
                                        <h2>Sign in</h2>
                                        <form method="POST">
                                                  {% csrf_token %}
                                                  <div class="container">
                                                            <div class="inputBox">
                                                                      <label for="username"></label>
                                                                      <input type="text" placeholder="Username" id="email" required name="username">
                                                            </div>
                                                            <div class="inputBox">
                                                                      <label for="psw"></label>
                                                                      <input type="password" placeholder="Password" id="psw" required name="password">
                                                            </div>
                                                            <div class="inputBox">
                                                                      <input type="submit" class="registerbtn" value="Login">
                                                            </div>
                                                  </div>
                                        </form>
                              </div>
                    </div>
                    
                    <!-- <a href="#" class="btns">Forgot Password</a> -->
                    <a href="{% url 'sign-up' %}" class="btns signup">Signup</a>
                  
          </div>
</body>
</html>